<!-- desktop -->
<div class="nav">
  <div class="nav-row">
    <a [href]="getLanguageAwareUrl('')" class="logo"> .dgtl-house </a>
    <nav class="nav-menu">
      <ul class="nav-menu-list">
        @for (navLink of MENU_LIST; track navLink.path) {
          <li class="nav-menu-item" [class.has-children]="navLink.children?.length">
            <a
              class="name"
              [class.active]="isActive(navLink.path)"
              [routerLink]="getLanguageAwareUrl(navLink.path)"
            >
              {{ navLink.name | translate }}
            </a>
            @if (navLink.children?.length) {
              <img [class.rotated]="navLink.isOpen" src="./assets/icons/arrow.svg" alt="arrow" />

              <div class="sub-menu-overlay">
                <ul
                  class="sub-menu"
                  [class.multi-column]="navLink.children && navLink.children.length > 6"
                >
                  @for (child of navLink.children || []; track child.path) {
                    <li class="sub-nav-item">
                      <div class="info">
                        <div class="title">
                          <img
                            class="icon"
                            [src]="'./assets/icons/svg/' + child.icon + '.svg'"
                            alt="icon"
                          />
                          <span class="child-name">{{ child.name | translate }}</span>
                        </div>
                        <div class="desc">{{ child.desc | translate }}</div>
                      </div>
                    </li>
                  }
                </ul>
              </div>
            }
          </li>
        }
      </ul>
    </nav>
  </div>
</div>

<!-- mobile -->
<div class="mobile-nav">
  <div class="mobile-nav-row">
    <a href="/" class="logo"> .dgtl-house </a>
    <div class="mobile-menu">
      <img src="./assets/icons/svg/burger-menu.svg" alt="burger-menu" (click)="toggleMenu()" />
      <a [href]="currentUrl()" class="active-link">{{ 'Menu.' + activePage() | translate }}</a>
      <a [href]="currentUrl() === '/contact' ? '/' : '/contact'" class="link">{{
        'Menu.' + (activePage() === 'Contact' ? 'Home' : 'Contact') | translate
      }}</a>
      <div [style.display]="isOpen() ? 'block' : 'none'" class="nav-list">
        <div class="nav-list-header">
          <a href="/" class="logo">.dgtl-house</a>
          <div class="close-menu" (click)="toggleMenu()">
            <img ngSrc="./assets/icons/svg/cross.svg" alt="cross" />
          </div>
        </div>
        <ul>
          @for (navLink of MENU_LIST; track $index) {
            <li>
              <div class="d-flex">
                <a class="name" [routerLink]="navLink.path" (click)="toggleMenu()">{{
                  navLink.name | translate
                }}</a>
                @if (navLink.children?.length) {
                  <img
                    [ngClass]="{rotated: navLink.isOpen}"
                    src="./assets/icons/svg/arrow.svg"
                    alt="arrow"
                    (click)="toggleSubMenu(navLink, !navLink.isOpen)"
                  />
                }
              </div>
              @if (navLink.isOpen) {
                <ul class="mobile-sub-menu">
                  @for (child of navLink.children; track $index) {
                    <li class="sub-nav-item">
                      <div class="info">
                        <div class="title">
                          <img
                            class="icon"
                            [src]="'./assets/icons/svg/' + child.icon + '.svg'"
                            alt="icon"
                          />
                          <a class="child-name" [routerLink]="child.path" (click)="toggleMenu()">{{
                            child.name | translate
                          }}</a>
                        </div>
                        <div class="desc">{{ child.desc | translate }}</div>
                      </div>
                      <a [routerLink]="child.path" (click)="toggleMenu()">
                        <img class="arrow" src="./assets/icons/svg/arrow.svg" alt="arrow" />
                      </a>
                    </li>
                  }
                </ul>
              }
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
