@use 'styles/index' as *;

.nav {
  width: 100%;
  max-width: $base-screen-width;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: scale(24) scale(32);
  background-color: $black;
  z-index: 99;
  transition: all 0.5s ease-in-out;
  &.transparent {
    background-color: rgba($black, 0.9);
    padding: scale(18) scale(32);
  }
  .nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .logo {
      font-size: scale(21);
      line-height: 150%;
      color: $white;
    }
    .nav-menu-list {
      display: flex;
      gap: scale(24);
      align-items: center;
      border: 1px solid $grey;
      border-radius: 100px;
      padding: scale(6) scale(6) scale(6) scale(24);
      position: relative;
      .nav-menu-item {
        a.name {
          color: $white;
          font-size: scale(24);
          line-height: 150%;

          &:hover {
            padding-bottom: scale(2);
            border-bottom: scale(2) solid $white;
          }
          &.active {
            padding-bottom: scale(2);
            border-bottom: scale(2) solid $white;
          }
        }

        img {
          transition: transform 0.3s ease;
          width: scale(9);
          margin: 0 0 scale(4) scale(5);
          &.rotated {
            transform: rotate(-180deg);
          }
        }

        &.has-children {
          a {
            padding-bottom: scale(10);
          }

          &:hover {
            .sub-menu-overlay {
              display: block;
            }
          }
        }

        &:last-child {
          background-color: $primary;
          border-radius: 100px;
          padding: scale(10) scale(24);
        }
      }

      .sub-menu-overlay {
        position: absolute;
        left: 0;
        display: none;
        top: scale(50);
        background-color: transparent;
      }
      .sub-menu {
        margin-top: scale(30);
        padding: scale(4) scale(16);
        background-color: #292c32;
        width: scale(378);
        border-radius: scale(24);
        box-shadow: 0 scale(4) scale(12) 0 #1c2d400f;

        .sub-nav-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: scale(4);
          border-bottom: 1px solid #353840;
          padding: scale(12) scale(4) scale(12) 0;
          cursor: pointer;

          &:last-child {
            border-bottom: none;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: scale(4);
            max-width: scale(300);
            .title {
              display: flex;
              align-items: center;
              gap: scale(6);

              .icon {
                margin: 0;
                width: scale(16);
              }
              span.child-name {
                color: $white;
                font-size: scale(16);
                line-height: 120%;
                padding: 0;

                &:hover {
                  border: none;
                }
                &.active {
                  border: none;
                }
              }
            }

            .desc {
              color: #c8c8c8;
              font-size: scale(12);
              line-height: 120%;
              margin-left: scale(21);
            }
          }
          .arrow {
            height: scale(20);
            margin: 0;
          }
        }
        &.multi-column {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: scale(12) scale(24);
          width: scale(784);
        }
      }
    }
  }
}
