@import 'fonts/OTF/stylesheet.scss';

$primary: #048b94;
$black: #020202;
$grey: #424242;
$grey-1: #7b7b7b;
$grey-2: #bcbcbc;
$white: #fff;
$error: #ff6347;

// Базові розміри
$base-screen-width: 1440px;

$font-family: 'Neue Montreal', sans-serif;
$font-family-base: $font-family;
$font-family-heading: $font-family;

$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$primary-color: $primary;
$secondary-color: $grey;
$background-color: $white;

$gap-1: 0.25rem; // 4px
$gap-2: 0.5rem; // 8px
$gap-3: 0.75rem; // 12px
$gap-4: 1rem; // 16px
$gap-5: 1.5rem; // 24px
$gap-6: 2rem; // 32px

// $background-img: url('../assets/img/background.png');

@mixin font-regular {
  letter-spacing: 0.02em;
  font-family: $font-family;
  font-weight: $font-weight-regular;
}

@mixin font-normal {
  letter-spacing: 0.02em;
  font-family: $font-family;
  font-weight: $font-weight-medium;
}

@mixin font-bold {
  letter-spacing: 0.03em;
  font-family: $font-family;
  font-weight: $font-weight-bold;
}
